/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.btn-primary{
    background: orangered;
    border-radius: 5px;
    color: aqua;
    border: 0;
    font-style: normal;
    font-weight: 400;
    padding: 10px 25px;
}
 
.text-primary{
    color:orangered;
}
/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color:black;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: navy;
}